In [1]:
#clever bustime file
!unzip bustime_chattanooga_jan_2022.json.zip

Archive:  bustime_chattanooga_jan_2022.json.zip
  inflating: bustime_chattanooga_jan_2022.json

In [2]:
import json, sys
with open("bustime_chattanooga_jan_2022.json", "r") as f:
    data = json.load(f)

In [3]:
#enter date of operation (here or as argument )
dates = []
for i in range(20220101, 20220132):
  dates.append(str(i))
# date = sys.argv[1]

In [63]:
import pandas as pd
filt_arr = []
df = pd.DataFrame()
for date in dates:
  filtered = [x for x in data if date in x['tmstmp']]
  temp = pd.DataFrame(filtered)
  df = df.append(temp, ignore_index=True)

In [64]:
df = df[['origtatripno', 'lat', 'lon', 'tmstmp']].dropna(subset=['origtatripno', 'origtatripno']).sort_values('tmstmp').reset_index()
df.to_csv('clever_jan.csv', index=False)

In [65]:
df

,index,origtatripno,lat,lon,tmstmp
0,1625,205712,35.04140090942383,-85.30850219726562,20220102 08:08
1,1641,205712,35.04180145263672,-85.30931854248047,20220102 08:09
2,1655,205712,35.04164123535156,-85.30964660644531,20220102 08:09
3,1670,205712,35.04036331176758,-85.30973052978516,20220102 08:10
4,1685,205712,35.03997039794922,-85.30995178222656,20220102 08:10
...,...,...,...,...,...
943439,1562928,204959,34.98988342285156,-85.30777740478516,20220131 23:59
943440,1562929,205173,35.05787007258488,-85.25315305269682,20220131 23:59
943441,1562932,204959,34.98940658569336,-85.30499267578125,20220131 23:59
943442,1562933,206345,35.010658264160156,-85.21736907958984,20220131 23:59
943443,1562937,206345,35.010658264160156,-85.21736907958984,20220131 23:59