<a href="https://colab.research.google.com/github/rishavsen1/gtfs_filtering/blob/main/trips%26vid_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!unzip bustime_chattanooga_jan_2022.json.zip

Archive:  bustime_chattanooga_jan_2022.json.zip
  inflating: bustime_chattanooga_jan_2022.json

In [2]:
import json
with open("bustime_chattanooga_jan_2022.json", "r") as f:
    data = json.load(f)

dated = []
for record in data:
    tmstmp = record["tmstmp"]
    if "20220111" in tmstmp:

        dated.append(record)

In [8]:
data =dated
data_gen = []
vid = []
prev_trip_id = None
for record in data:
    trip_id = record["origtatripno"]
    if prev_trip_id != trip_id:
        vid = record['vid']
        data_gen.append({"trip_id": trip_id, "vid":vid})
        prev_trip_id = trip_id

unique_trp = list(set(data_gen))
unique_trp.sort()
data_gen
print(len(unique_trp))

TypeError: ignored

In [6]:
len(data_gen)

44189

In [4]:
import pandas as pd
data_gen_df = pd.DataFrame(data_gen, columns=["trip_id", 'vid'])
data_gen_df

      trip_id  vid
0      204959  112
1        None  127
2      204959  112
3      206345  152
4      205087  150
...       ...  ...
44184    None  150
44185  204959  126
44186  206345  111
44187  205087  154
44188    None  150

[44189 rows x 2 columns]

In [19]:
df_mod = data_gen_df.drop_duplicates().reset_index(inplace=False).dropna()
df_mod["trip_id"] = df_mod["trip_id"]+"020"
df_mod = df_mod[["trip_id", "vid"]]
df_mod

       trip_id  vid
0    204959020  112
2    206345020  152
3    205087020  150
6    206311020  504
9    206129020  113
..         ...  ...
759  206345020  111
760  205173020  154
761  204923020  126
762  204959020  126
763  205087020  154

[716 rows x 2 columns]

In [20]:
df_mod.to_csv('trips_wth_vid_20220111.csv', index=False)

In [ ]:
import pandas as pd
import json
df = pd.read_csv("trips.txt", sep=",")

trips = unique_trp
trips = list(map(int, trips))

df_fil  = pd.DataFrame(columns = df.columns)

indices = []
for trip in trips:
    for index, row in df.iterrows():       
        if trip == int(row['trip_id']/1000):
            
            indices.append(index)
            df_fil.append(row, ignore_index=True)
            break


df_fil = df.iloc[indices]
print(df_fil.head())
df_fil.to_csv('df_fil_19.csv', index=False)

     trip_id route_id  service_id trip_headsign  trip_short_name  \
0  204888020        1           1    ALTON PARK              NaN
1  204889020        1           1    ALTON PARK              NaN
2  204890020        1           1    ALTON PARK              NaN
3  204891020        1           1    ALTON PARK              NaN
4  204892020        1           1    ALTON PARK              NaN

   direction_id  block_id  shape_id  wheelchair_accessible  bikes_allowed  \
0             0      1002  shp-1-04                      2              2
1             0      2802  shp-1-03                      2              2
2             0      3002  shp-1-03                      2              2
3             0      2802  shp-1-03                      2              2
4             0      3002  shp-1-03                      2              2

   block_name
0         107
1         155
2         156
3         155
4         156