In [5]:
!unzip bustime_chattanooga_jan_2022.json.zip

Archive:  bustime_chattanooga_jan_2022.json.zip
  inflating: bustime_chattanooga_jan_2022.json

In [1]:
import json
with open("bustime_chattanooga_jan_2022.json", "r") as f:
    data = json.load(f)

#read only for specified date
dated = []
for record in data:
    tmstmp = record["tmstmp"]
    if "20220111" in tmstmp:

        dated.append(record)

In [2]:
#Find relevant unique trip_ids for the day

data =dated
dated = []
for record in data:
    trp = record["origtatripno"]
    if trp:
        dated.append(trp)

unique_trp = list(set(dated))
unique_trp.sort()

print(len(unique_trp))

712

In [4]:
import pandas as pd
import json
df = pd.read_csv("./20211024/trips.txt", sep=",")

# use the trip_ids that are from the clever data and filter the trips.txt accordingly
trips = unique_trp
trips = list(map(int, trips))

df_fil  = pd.DataFrame(columns = df.columns)

indices = []
for trip in trips:
    for index, row in df.iterrows():       
        if trip == int(row['trip_id']/1000):
            
            indices.append(index)
            df_fil.append(row, ignore_index=True)
            break


df_fil = df.iloc[indices]
print(df_fil.head())

     trip_id route_id  service_id trip_headsign  trip_short_name  \
0  204888020        1           1    ALTON PARK              NaN
1  204889020        1           1    ALTON PARK              NaN
2  204890020        1           1    ALTON PARK              NaN
3  204891020        1           1    ALTON PARK              NaN
4  204892020        1           1    ALTON PARK              NaN

   direction_id  block_id  shape_id  wheelchair_accessible  bikes_allowed  \
0             0      1002  shp-1-04                      2              2
1             0      2802  shp-1-03                      2              2
2             0      3002  shp-1-03                      2              2
3             0      2802  shp-1-03                      2              2
4             0      3002  shp-1-03                      2              2

   block_name
0         107
1         155
2         156
3         155
4         156

In [5]:
#write as csv
df_fil.to_csv('df_fil_19.csv', index=False)

In [11]:
#write to txt
df_fil.to_csv(r'trips_new.txt', header=True, index=None, sep=',', mode='a')